.fileExplorerContainer {
  .explorerItemName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .createButtons {
      display: flex;
      gap: 0.5rem;
    }
    .folderStyle {
      background-color: rgb(211, 211, 211);
    }
    .fileStyle {
      background-color: white;
    }
  }
  .items {
    background-color: white;
    padding-left: 1.1rem;
  }
  .inputContainer {
    padding-left: 1.1rem;
  }
}